<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WOAT APP</title>
</head>
<body>



    <h1>WELCOME TO WOAT APP!</h1>
<nav>
    <button><a href="/inventory">Inventory</a></button>
    <button><a href="/Jordan">Search Inventory</a></button>
    <button><a href="/">Home</a></h3></button>
</nav>

</body>

</html>