<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WOAT APP</title>
</head>
<body>



    <h1>WELCOME TO WOAT APP!</h1>
<nav>
    <button><a href="/">Home</a></h3></button>
    <button><a href="/inventory/">Inventory</a></button>
    <button><a href="/Jordan">Search Inventory</a></button>
    
</nav>


<div class="Video1">
    <video width="1200" height="800" autoplay loop controls>
     <source src="/pexels-c-technical-6292481.mp4" type="video/mp4"/>
    </video>

</div>


</body>

</html>