<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <title>WOAT APP</title>
</head>
<body>



    <h1>WELCOME TO WOAT APP!</h1>

    <button><a href="/">Home</a></h3></button>
    <button><a href="/sneakers/inventory">Inventory</a></button>
    
   

    <% if (user) { %>
        <h4><%= user.email %></h4>
        <form action="/logout?_method=DELETE" method="POST">
            <input type="submit" value="Logout">
        </form>
    <% } else { %>
        <button><a href="/login">Login</a></button>
        <button><a href="/register">Register</a></button>
    <% } %>
    
</nav>


<div class="Video1">
    <video width="1320" height="800" autoplay loop controls>
     <source src="/production ID_5192151.mp4" type="video/mp4"/>
    </video>

</div>


</body>

</html>