<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">

    <title>WOAT APP!!</title>
</head>
<body>
    <h1>Justin's WOAT!</h1>

    <div class="right-nav">
        
        <button><a href="/">Home</a></h3></button>
        <button><a href="/sneakers/inventory/">Inventory</a></button>
        <button><a href="/sneakers/new">Add Sneaker</a></button>


        <form action="" method="GET">
            <input class="search-input" type="text" name="style" placeholder="Search">
            <input class="search-btn" type="submit" value="Search">
        </form>
        <form action="/posts" method="GET">
        
    </div>

<main>
    
    

    <% if(!sneakers.length) { %>
    <p class="error-msg">There are no sneakers in your inventory yet.</p>
    <% } %>
    <ul>
        <% sneakers.forEach(sneaker => { %>
        <li>
            <a href="/sneakers/<%= sneaker._id %>"> <%= sneaker.style %> - Size: <%= sneaker.size %></a>
        </li>
        <% }) %>
    </ul>
</main>


</body>
</html>