<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WOAT APP!!</title>
</head>
<body>
    <h1>WELCOME TO WOAT APP!</h1>

    <h2>Add Your Inventory</h2>
<div>
    <button><a href="sneakers/">Inventory</a></button>
    <button><a href="/Jordan">Profile</a></button>
    <button><a href="/">Home</a></h3></button>
    
</div>

<p>
    <form action="/Sneaker" method="POST">
    
    


        <input type="text" name="name" placeholder="Style">
        <input type="text" name="size" placeholder="Size">
        <input type="text" name="condition" placeholder="Condition">




        <input type="submit" value="Add Stock">
    
    
    </form>
</p>

</body>
</html>