<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WOAT APP</title>
</head>

<body>
    <div>
        <button><a href="/new">Add Sneaker</a></button>
        <button><a href="/Jordan">Search Inventory</a></button>
        <button><a href="/">Home</a></h3></button>
        
    </div>



    <div>
        <form action="/inventory" method="POST">
        
        <input required type="text" name="style" placeholder="Style">
        <input required type="text" name="size" placeholder="Size">
        <input required type="text" name="condition" placeholder="Condition">
    
    
    
        <input type="submit" value="Add Stock">
    
        </form>
    </div>


</body>
</html>